.app{
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif; /* You can adjust font-family as per your design */
  overflow-x: hidden;

   background-image: url('https://i.pinimg.com/736x/57/2a/92/572a92fb0d70410e601e12991618a34a.jpg');
  background-size: cover;  
  color: #333;  /* Dark text color for readability */
}